@charset "UTF-8";
*{
	box-sizing: border-box;
}
html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Staatliches', cursive;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
}
div{
	height: 100%;
	width: 50%;
}
.leftside{
	background-color: #fb0091;
	float: left;
	color: #fb0091;
}
.rightside{
	background-color: #dcffcc;
	float: right;
	color: #9fdfcd;
}
h1{
	width: 60%;
	margin: 7em auto;
	display: inline-block;
}
.vm{
	border: 4px solid #dcffcc;
	background-color: #dcffcc;
	margin-top: 50%;
	margin-bottom: 50%;
}
.hm{
	border: 4px solid #fb0091;
	background-color: #fb0091;
	margin-top: 50%;
	margin-bottom: 50%;
}
a{
	text-decoration: none;
}
a #vermenu:visited{
	color: #fb0091;
}
a #horizontalmenu:visited{
	color: #dcffcc;
}
